# ----------------------------------------------------------------------
# | NODE & FRIENDS                                                     |
# ----------------------------------------------------------------------

node_modules
.env

# ----------------------------------------------------------------------
# | ELEVENTY                                                           |
# ----------------------------------------------------------------------

_site