# ----------------------------------------------------------------------
# | MACOS                                                              |
# ----------------------------------------------------------------------
.DS_Store

# ----------------------------------------------------------------------
# | NODE & FRIENDS                                                     |
# ----------------------------------------------------------------------

node_modules
.env

# ----------------------------------------------------------------------
# | ELEVENTY                                                           |
# ----------------------------------------------------------------------

_site