<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Product Resources, compiled by Melanie Richards</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index, follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <h1>Product Resources</h1>
      <p class="header__subtitle">Resources related to product management that I’ve found useful</p>
    </header>
    <main>
      {% if categories %}
        <nav aria-labelledby="jump-title">
          <h2 id="jump-title">Jump to a category</h2>
          <ul>
            {% for category in categories %}
              <li>
                <a class="c-cat-link" href="#{{ category.name | lower | replace(' ', '-') | replace('→', '') }}">
                  <span class="c-cat-link__deco" aria-hidden="true">⚹</span>
                  {{ category.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <section class="categories-wrap">
          <h2>Resources by category</h2>
          <div class="categories">
            {% for category in categories %}
              <h3 id="{{ category.name | lower | replace(' ', '-') | replace('→', '') }}">
                <span>{{ category.name }}</span>
              </h3>
              <ul class="c-resource-list">
                {% for resource in category.items %}
                  {% set resourceTitle = resource.Name.title[0].plain_text %}
                  {% set resourceUrl = resource.URL.url %}
                  {% set resourceAuthor = resource.Author.rich_text[0].text.content %}
                  {% set resourceDesc = resource.Desc.rich_text[0].text.content %}
                  {% set resourceFormat = resource.Format.select.name %}
                  {% if resourceTitle and resourceUrl %}
                  <li class="c-resource">
                    <span class="c-resource__format">{{ resourceFormat }}</span>
                    <span>
                      <a class="c-resource__title" href="{{ resourceUrl }}">{{ resourceTitle }}</a>
                      {% if resourceAuthor %}
                        <span class="c-resource__author">by {{ resourceAuthor }}</span>
                      {% endif %}
                    </span>
                    {% if resourceDesc %}
                      <span class="c-resource__desc">{{ resourceDesc }}</span>
                    {% endif %}
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </section>
      {% else %}
        <p>Sorry, something went wrong and the product resources couldn’t be fetched right now. This is probably on me! Please try again later; if you’re still seeing this error, feel free to <a href="https://melanie-richards.com/info">contact me</a> or <a href="https://github.com/melanierichards/product-resources/issues">file an issue</a>.</p>
      {% endif %}
    </main>
    <footer>
      <p>Compiled by <a href="https://melanie-richards.com">Melanie Richards</a>, using Eleventy and the Notion API, and deployed to Netlify. <a href="https://github.com/melanierichards/product-resources">Check out the code</a></p>
      <p><small>Disclosure: I’m an affiliate of Bookshop.org. Any book purchases you make using my Bookshop links will earn me (and local bookstores!) a small commission. Feel free to buy or borrow your books wherever you will, no need to use my link!</small></p>
    </footer>
  </body>
</html>