/*
 *  =============================================
 *  GLOBAL STYLES
 *  =============================================
 */

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: var(--space-s);
}

body {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0;
}

p {
  margin: var(--space-s) 0 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: .75rem;
}

/*
 *  ---------------------------------------------
 *  HEADER
 *  ---------------------------------------------
 */

h1 {
  margin: 0;
}

/*
 *  ---------------------------------------------
 *  RESOURCES
 *  ---------------------------------------------
 */

main, footer {
  margin-top: var(--space-m);
}

h2 {
  @include small-caps;
  border-bottom: 1px solid;
  margin-top: 0;
  padding-bottom: var(--space-xxs);
}

:not(h2) + h3 {
  margin-top: var(--space-m);
}

.c-resource__format {
  @include small-caps;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px 4px;
}

.c-resource__desc {
  margin-top: var(--space-xxs);
}

/*
 *  =============================================
 *  BREAKPOINTS
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  BREAKPOINT: M
 *  ---------------------------------------------
 */

@media (min-width: $bp-m) {
  html {
    padding: var(--space-m);
  }

  main, footer {
    margin-top: var(--space-l);
  }

  main {
    display: flex;
    align-items: baseline;
  }

  nav {
    margin-right: var(--space-l);
    position: sticky;
    top: 0;
    width: 12rem;
  }

  .categories-wrap {
    flex: 1;
  }
}

/*
 *  ---------------------------------------------
 *  BREAKPOINT: L
 *  ---------------------------------------------
 */

@media (min-width: $bp-l) {
  html {
    padding: var(--space-l);
  }

  nav {
    margin-right: var(--space-xl);
  }

  @supports (grid-template-columns: subgrid) {
    .categories {
      column-gap: var(--space-xs);
      display: grid;
      grid-template-columns: auto 1fr;
    }
  
    h3,
    .c-resource-list,
    .c-resource {
      grid-column: span 2;
      display: grid;
      grid-template-columns: subgrid;
    }
  
    /* Added spans so that the text wouldn't participate in the sizing of the first grid column */
    h3 span {
      grid-column: span 2;
    }
  
    .c-resource > * {
      grid-column: 2;
    }
  
    .c-resource__format {
      grid-column: 1;
      justify-self: start;
    }
  }
}