/*
 *  =============================================
 *  UTILITIES
 *  =============================================
 */

@mixin small-caps {
  font-size: .825rem;
  letter-spacing: .03em;
  text-transform: uppercase;
}