/*
 *  =============================================
 *  VARIABLES
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

 $bp-s: 40rem;
 $bp-m: 48rem;
 $bp-l: 64rem;
 $bp-xl: 96rem;
 $bp-xxl: 128rem;
 
/*
 *  ---------------------------------------------
 *  SPACING
 *  ---------------------------------------------
 */

:root {
  --space-xxs: .25rem;
  --space-xs: .5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;
}